// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    // bottom: -12px !important;
}

.swiper-slide img {
    margin-bottom: 80px; //distancia dos Radios até a IMG
}
.slides-md {
    --bullet-background: var(--ion-text-color-step-800,#ccc);
    --bullet-background-active: #04fb84;
    --progress-bar-background: #04fb84;
    --progress-bar-background-active: #04fb84;
    --scroll-bar-background: #04fb84;
    --scroll-bar-background-active: #04fb84;
    margin-top: 20px;
    font-size: 50px;
}
.swiper-pagination-bullet-active {
    background: #04fb84; //background para IOS
}

@font-face {
    font-family: NeueBold;
    src: url(./assets/FONTE/helvetica-neue-bold.ttf) format("opentype");
}

@font-face {
    font-family: NeueLight;
    src: url(./assets/FONTE/helvetica-neue-light.ttf) format("opentype");
}