
.div-img-slide {
    position: absolute;
    margin-top: 50%; //distancia entre o Titulo-texto e o LOGO do slide
    font-family: NeueBold, 'arial';
}

.secundary-slide{
    font-family: NeueLight, 'arial';
}
.slide-img-fix{
    padding-bottom: 15%;
}