<ion-content padding>
  <ion-slides pager="true" (ionSlideDidChange)="getIdx()">

    <ion-slide style="background-color: white">
      <img src="assets/icon/teste.png" alt=""  class="slide-img-fix">
      <div class="div-img-slide">
        <h1>Hermes</h1>
      </div>
      
    </ion-slide>
  
    <ion-slide style="background-color: white" >
      <img src="assets/icon/test2.png" alt="" class="slide-img-fix">
      <div class="div-img-slide">
        <h1>Mensagens rápidas</h1>
      </div>
    </ion-slide>
  
    <ion-slide style="background-color: white">
      <img src="assets/icon/test3.png" alt=""  class="slide-img-fix">
      <div class="div-img-slide">
        <h1>Sistema Seguro</h1>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-slides class="secundary-slide">

    <ion-slide style="background-color: white" *ngIf="slide_idx == 0">
      <h5>O app mensageiro dos Deuses</h5>
    </ion-slide>
  
    <ion-slide style="background-color: white"  *ngIf="slide_idx == 1">
      <h5>O chat mais rápido e poderoso do que qualquer outro aplicativo</h5>
    </ion-slide>
  
    <ion-slide style="background-color: white"  *ngIf="slide_idx == 2">
      <h5>Sistema seguro contra ataques maliciosos</h5>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button color="success" style = "font: #635A5A;">COMECE JÁ!</ion-button>        
        </div>
      </ion-col>
      <ion-col>
        <div>
         
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
